
.grid-container {
  display: grid;
  grid-template-areas:
    'menu body body body body body body body body body body body body body body body body body body body body body body body body';
  height: 100vw;
}
.grid-container > div {
  text-align: center;
}