.component-button-panel {
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  height: 30rem;
  width: 32rem;
}
.component-button-panel > div {
  width: 100%;
  margin-bottom: 1px;
  flex: 1 0 auto;
  display: flex;
}