.item2 { 
    grid-area: body; 
    background-color: #ececec;
}

.primary-heading {
    font-size: 75px;
}

.secondary-heading {
    font-size: 32px;
}

.grid-container-inner {
    display: grid;
    grid-template-areas:
      'box box box';
    grid-gap: 10px;
    padding: 10px;
    height: 15vw;
    width: 55vw;
    margin: 0 auto;
  }
  .grid-container-inner > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .headings {
      height: 55%;
  }

  .action-box {
    border-style: solid;
    border-radius: 10%;
  }

  .first-box {
      background-color: #f2cc23;
      border: #f2cc23;
  }

  .second-box {
    background-color: #80cffa;
    border: #80cffa;
  }

  .third-box {
    background-color: #fe7e81;
    border: #fe7e81;
  }